<div class="container mt-5 mb-4">
  <h3>Welcome back, <%= current_user.donor.display_name %>!</h3>
</div>
<div class="container mb-5">
  <h4 class="mb-3">Your Offers</h4>
  <div class="row justify-content-center gap-3">
    <% @offers.each do |offer| %>
      <div class="card col-md-4 col-lg-3 p-2">
        <p>Condition: <%= offer.condition %></p>
        <p>Message: <%= offer.message %></p>
        <p>Quantity offered: <%= offer.quantity_offered %></p>
        <p>Status: <%= offer.status %></p>
        <p>Tracking Number: <%= offer.tracking_number %></p>
        <p>Donor: <%= offer.donor.display_name %></p>
        <p>Request: <%= offer.request.title %></p>
      </div>
    <% end %>
  </div>
</div>
