<h1>Donors</h1>
<div class="grid-tall-cards mt-3">
  <% @donors.each do |donor| %>
    <div class="small-card p-3">
      <h4>
        <%= donor.display_name %>
        <% if donor.approved? %>
          <i class="fas fa-circle-check" style="color: green;"></i>
        <% end %>
      </h4>
      <ul>
        <li> <strong> Type: </strong> <%= donor.donor_type %> </li>
        <li> <strong> Region: </strong> <%= donor.region %> </li>
        <li> <strong> Prefecture: </strong> <%= donor.prefecture %> </li>
      </ul>
      <div class="btn-section pt-2">
        <%= link_to "Delete", donor_path(donor), class: "btn btn-neg", data: {turbo_method: :delete, turbo_confirm: "Delete donor?"}%>
        <% unless donor.approved? %>
          <%= button_to "Approve", approve_donor_path(donor), class: "btn btn-pos", method: :patch, data: { confirm: "Approve donor?" } %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
