<h1>Donors</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Region</th>
      <th>City</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @donors.each do |donor| %>
      <tr>
        <td><%= donor.display_name %></td>
        <td><%= donor.donor_type %></td>
        <td><%= donor.region %></td>
        <td><%= donor.city %></td>
        <td>
          <%= button_to "Delete", donor_path(donor), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
