<h3> Your offer has been submitted: </h3>
<div class="small-card offer-card p-2 mb-3
  <%= 'rejected-offer' if offer.status == 'rejected' %>">
  <div class="row">
    <div class="col-5">
      <% if offer.photo.attached? %>
        <div class="image-placeholder">
          Placeholder image
        </div>
      <% else %>
        <div class="image-placeholder">
          📷 No image
        </div>
      <% end %>
    </div>
    <div class="col-7">
      <div class="row">
        <div class="col-9">
          <h4> <%= request.title %> </h4>
        </div>
        <div class="col-3">
          <h4> <%= offer.quantity_offered %> </h4>
        </div>
      </div>
      <p class="mb-0"> <i class="fa-solid fa-location-dot"></i> <%= offer.donor.region if offer.donor.region %> </p>
      <p class="mb-0"> <strong> Condition: </strong> <%= offer.condition %> </p>
      <% if offer.can_ship_by %>
        <p class="mb-0"> <strong> Can be sent: </strong> <%= offer.can_ship_by.strftime("%b %e") %> </p>
      <% end %>
      <% if offer.message != "" %>
        <p class="mb-0"> <strong> Message: </strong> <%= offer.message %> </p>
      <% end %>
    </div>
  </div>
  <h5 class="mt-2"> Status: </h5>
  <p> <%= offer.status %></p>
  <% if offer.status == "submitted" %>
    <p> We are currently awaiting the charity's response. We'll let you know when they respond! </p>
  <% elsif offer.status == "accepted"%>
    <p> Please send the item and then fill in the following information: </p>
    <%= form_with model: offer do |f| %>
      <div class="mb-3">
        <%= f.label :estimated_arrival %>
        <%= f.date_field :estimated_arrival, class: "form-control" %>
      </div>
      <div class="mb-3">
        <%= f.label :tracking_number, "Tracking information" %>
        <%= f.text_field :tracking_number, class: "form-control" %>
      </div>
      <%= f.submit "Save shipping info", class: "btn btn-primary" %>
    <% end %>
  <% end %>
  <%= button_to "Edit offer", edit_offer_path(offer), method: :patch, class: "btn btn-danger" %>
</div>
