<h2> <%= t("offers.offers") %> </h2>
<% if @offers.empty? %>
  <%= t("offers.no_offers") %>
<% else %>
  <% @offers.each do |offer| %>
    <div class="small-card offer-card p-2 mb-3
              <%= 'rejected-offer' if offer.status == 'rejected' %>">
      <div class="row">
        <div class="col-5">
          <% if offer.photo.attached? %>
            <%= image_tag offer.photo, class: "img-fluid rounded" %>
          <% else %>
            <div class="offer-image-placeholder">
              📷 <%= t("offers.no_image") %>
            </div>
          <% end %>
        </div>
        <div class="col-7">
          <div class="row">
            <div class="col-9">
              <h3> <%= offer.donor.display_name %> </h3>
            </div>
            <div class="col-3">
              <h3> <%= offer.quantity_offered %> </h3>
            </div>
          </div>
          <p class="mb-0"> <i class="fa-solid fa-location-dot"></i> <%= t("prefectures.#{offer.donor.prefecture}") if offer.donor.prefecture %> </p>
          <p class="mb-0"> <strong> <%= t("navigation.condition") %>: </strong> <%= t("conditions.#{offer.condition}") %> </p>
          <p class="mb-0"> <strong> <%= t("offers.can_ship_by") %></strong> <%= offer.can_ship_by ? offer.can_ship_by.strftime("%b %e") : "N/A" %> </p>
          <p class="mb-0"> <strong> <%= t("offers.message") %>: </strong> <%= offer.message %> </p>
          <h5 class="mt-2"> <%= t("offers.status") %>: </h5>
          <% if offer.status == "submitted" %>
            <div class="row">
              <div class="col-lg-6">
                <% if policy(offer).approve? %>
                  <%= button_to t("buttons.approve_offer"), approve_offer_path(offer), method: :patch, class: "btn btn-success" %>
                <% end %>
              </div>
              <div class="col-lg-6">
                <% if policy(offer).reject? %>
                  <%= button_to t("buttons.reject_offer"), reject_offer_path(offer), method: :patch, class: "btn btn-danger" %>
                <% end %>
              </div>
            </div>
          <% elsif offer.status == "approved"%>
            <p class="mb-0"> <%= t("statuses.charity.approved_message") %> </p>
          <% elsif offer.status == "shipped" %>
            <p class="mb-0">
              <strong> <%= t("statuses.arriving") %>: </strong> <%= offer.estimated_arrival ? offer.estimated_arrival : "?" %>
            </p>
            <p class="mb-0">
              <strong> <%= t("statuses.tracking_info") %>: </strong> <%= offer.tracking_number != "" ? offer.tracking_number : "?" %>
            </p>
            <%= button_to t("statuses.donor.received"), mark_received_offer_path(offer), method: :patch, class: "btn btn-danger" %>
          <% elsif offer.status == "rejected" %>
            <p class="mb-0"> <%= t("statuses.charity.rejected_message") %> </p>
          <% elsif offer.status == "received" %>
            <p class="mb-0"> <%= t("statuses.charity.received_message") %> </p>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
