<h3> <%= t("offers.existing_offer") %>: </h3>
<div class="small-card offer-card p-2 mb-3
  <%= 'rejected-offer' if offer.status == 'rejected' %>">
  <div class="row">
    <div class="col-5">
      <% if offer.photo.attached? %>
        <div class="offer-image">
          <%= image_tag offer.photo, class: "img-fluid rounded" %>
        </div>
      <% else %>
        <div class="offer-image-placeholder">
          📷 <%= t("offers.no_image") %>
        </div>
      <% end %>
    </div>
    <div class="col-7">
      <div class="row">
        <div class="col-9">
          <h4> <%= request.title %> </h4>
        </div>
        <div class="col-3">
          <h4> <%= offer.quantity_offered %> </h4>
        </div>
      </div>
      <p class="mb-0"> <i class="fa-solid fa-location-dot"></i> <%= t("prefectures.#{offer.donor.prefecture}") if offer.donor.prefecture %> </p>
      <p class="mb-0"> <strong> <%= t("navigation.condition") %>: </strong> <%= t("conditions.#{offer.condition}") %> </p>
      <% if offer.can_ship_by %>
        <p class="mb-0"> <strong> <%= t("offers.can_ship_by") %>: </strong> <%= offer.can_ship_by.strftime("%b %e") %> </p>
      <% end %>
      <% if offer.message != "" %>
        <p class="mb-0"> <strong> <%= t("offers.message") %>: </strong> <%= offer.message %> </p>
      <% end %>
    </div>
  </div>
  <h5 class="mt-2"> <%= t("offers.status") %>: </h5>
  <% if offer.status == "submitted" %>
    <p> <%= t("statuses.donor.submitted_message") %> </p>
  <% elsif offer.status == "approved" %>
    <%= t("statuses.donor.approved_message") %>
    <%= t("statuses.donor.charity_shipping_info") %>
    <p class="my-2 mx-5"> <%= offer.request.charity.shipping_address %> </p>
    <%= simple_form_for offer,
      url: mark_as_shipped_offer_path(offer),
      method: :patch do |f| %>
      <div class="row mt-2">
        <div class="col-md-6">
          <%= f.input :estimated_arrival, label: t("statuses.arriving"), as: :date, html5: true %>
        </div>
        <div class="col-md-6">
          <%= f.input :tracking_number, label: t("statuses.donor.tracking_info"), placeholder: t("statuses.donor.tracking_prompt") %>
        </div>
      </div>
      <%= f.submit t("buttons.save"),
        class: "btn btn-danger" %>
    <% end %>
  <% elsif offer.status == "rejected" %>
    <p> <%= t("statuses.donor.rejected_message") %> </p>
  <% elsif offer.status == "shipped" %>
    <p> <%= t("statuses.donor.shipped_message") %>: </p>
    <p> <%= t("statuses.donor.arriving") %>: <%= offer.estimated_arrival ? offer.estimated_arrival : "?" %> </p>
    <p> <%= t("statuses.donor.tracking_info") %>: <%= offer.tracking_number != "" ? offer.tracking_number : "?" %> </p>
  <% elsif offer.status == "received" %>
    <p> <%= t("statuses.donor.received_message") %> </p>
  <% end %>
</div>
