<%= simple_form_for request do |f| %>
  <div class="row">
    <div class="col-md-4"><%= f.input :title, placeholder: "Calculators, Instant Food, etc" %></div>
    <div class="col-md-4"><%= f.input :quantity_needed, placeholder: "1, 2, 3, etc" %></div>
    <div class="col-md-4"><%= f.input :units, collection: Request::UNITS.map { |u| [u.humanize, u] }, prompt: "Select Units" %></div>
  </div>
  <div class="row">
    <div class="col-md-4"><%= f.input :urgency, collection: Request::URGENCIES.map { |u| [u.humanize, u] }, prompt: "Select Urgency" %></div>
    <div class="col-md-4"><%= f.input :condition, collection: Request::CONDITIONS.map { |c| [c.humanize, c] }, prompt: "Select Condition" %></div>
    <div class="col-md-4"><%= f.input :category, collection: Request::CATEGORIES.map { |c| [c.humanize, c] }, prompt: "Select Category" %></div>
  </div>
  <div class="row">
    <div class="col-12"><%= f.input :description, placeholder: "Please describe the item" %></div>
  </div>
  <%= f.hidden_field :status, value: "inactive" %>
  <%= f.submit class: "btn btn-primary mt-3" %>
<% end %>
