<%= link_to "New Request", new_request_path if policy(Request).new? %>
<% @requests.each do |request| %>
  <div class="request-card">
    <div class="request-card-infos">
      Title: <%= request.title %><br>
      Status: <%= request.status %><br>
      City: <%= request.city %><br>
      Condition: <%= request.condition %><br>
      Quantity Needed: <%= request.quantity_needed %><br>
      Quantity Remaining: <%= request.quantity_remaining %><br>
    </div>
    <%= link_to "View Request", request_path(request) %>
  </div>
<% end %>