<div class="container mt-5 mb-4">
  <div class="mb-3">
    <%= link_to "← Back", request.referer || root_path, class: "btn btn-outline-secondary" %>
  </div>
  <div class="row align-items-stretch g-4">
    <div class="col-lg-5">
      <div class="tall-card p-3 h-100">
        <div class="row pt-2">
          <div class="col-8">
            <h2> <%=@request.title %> </h2>
          </div>
          <div class="col-4 text-center">
            <h3> x<%= @request.quantity_remaining %> </h3>
            <div class="badge rounded-pill pill-<%=@request.urgency%>">
              <%= @request.urgency %>
            </div>
          </div>
        </div>
        <div>
          <p> <i class="fa-solid fa-location-dot"></i> <%= @request.charity.prefecture %> - <%= @request.charity.region %> </p>
        </div>
        <div>
          <h5> Condition: </h4>
          <% @request.acceptable_conditions.each do |cond| %>
            <p class="mb-0"> <%= cond %> </p>
          <% end %>
          <br>
        </div>
        <div>
          <h5> Description: </h4>
          <p> <%= @request.description %> </p>
        </div>
        <% if policy(@request).edit? %>
          <%= link_to "Edit Request", edit_request_path(@request), class: "btn btn-outline-secondary" %>
        <% end %>
      </div>
    </div>
    <div class="col-lg-6 mx-3">
      <% if current_user.charity? && current_user.charity == @request.charity %>
        <%= render "currentcharityrequest", request: @request %>
      <% elsif @editing_offer == @my_offer %>
        <%= render "offers/form", request: @request, offer: @my_offer %>
      <% elsif @my_offer.present? %>
        <%= render 'currentdonorexistingoffer', request: @request, offer: @my_offer %>
        <%= link_to "Edit offer",
      request_path(@request, edit_offer: @my_offer.id),
      class: "btn btn-danger" %>
      <% elsif policy(Offer.new(request: @request)).new?%>
        <%= render 'offers/form', request: @request, offer: @offer, locals: { custom_class: "new-offer" } %>
      <% end %>
    </div>
  </div>
</div>
