<div class="container mt-5 mb-4">
  <div class="mb-3">
    <%= link_to requests_path, class: "btn btn-outline-secondary" do %>
      ← Back to Requests
    <% end %>
  </div>
  <div class="row align-items-stretch g-4">
    <div class="col-lg-5">
      <div class="tall-card p-3 h-100">
        <div class="row pt-2">
          <div class="col-lg-7">
            <h2> <%=@request.title %> </h2>
          </div>
          <div class="col-lg-4">
            <h3> <%= @request.quantity_remaining %> </h3>
            <div class="badge rounded-pill pill-<%=@request.urgency%>">
              <%= @request.urgency %>
            </div>
          </div>
        </div>
        <div>
          <p> <i class="fa-solid fa-location-dot"></i> <%= @request.charity.prefecture %> - <%= @request.charity.region %> </p>
        </div>
        <div>
          <h5> Condition: </h4>
          <p> <%= @request.condition %> </p>
        </div>
        <div>
          <h5> Description: </h4>
          <p> <%= @request.description %> </p>
        </div>
        <% if policy(@request).edit? %>
          <%= link_to "Edit Request", edit_request_path(@request), class: "btn btn-outline-secondary" %>
        <% end %>
      </div>
    </div>
    <div class="col-lg-6 mx-3">
      <% if current_user.charity? && current_user.charity == @request.charity %>
        <h2> Offers </h2>
        <% if @offers.empty? %>
          <div class="small-card">
            No offers yet
          </div>
        <% else %>
          <% @offers.each do |offer| %>
            <div class="small-card offer-card p-2 mb-3
              <%= 'rejected-offer' if offer.status == 'rejected' %>">
              <div class="row">
                <div class="col-5">
                  <% if offer.photo.attached? %>
                    <%= photo_tag offer.photo %>
                  <% else %>
                    <div class="image-placeholder">
                      📷 No image
                    </div>
                  <% end %>
                </div>
                <div class="col-7">
                  <div class="row">
                    <div class="col-9">
                      <h3> <%= offer.donor.display_name %> </h3>
                    </div>
                    <div class="col-3">
                      <h3> <%= offer.quantity_offered %> </h3>
                    </div>
                  </div>
                  <p class="mb-0"> <i class="fa-solid fa-location-dot"></i> <%= offer.donor.region if offer.donor.region %> </p>
                  <p class="mb-0"> <strong> Condition: </strong> <%= offer.condition %> </p>
                  <p class="mb-0"> <strong> Can be sent: </strong> <%= offer.can_ship_by.strftime("%b %e") %> </p>
                  <p class="mb-0"> <strong> Message: </strong> <%= offer.message %> </p>
                  <% if offer.status == "submitted" %>
                    <div class="row mt-1">
                      <div class="col-lg-6">
                        <% if policy(offer).approve? %>
                          <%= button_to "Approve Offer", approve_offer_path(offer), method: :patch, class: "btn btn-success" %>
                        <% end %>
                      </div>
                      <div class="col-lg-6">
                        <% if policy(offer).reject? %>
                          <%= button_to "Reject Offer", reject_offer_path(offer), method: :patch, class: "btn btn-danger" %>
                        <% end %>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% elsif @my_offer.present? %>
        <%= render 'currentdonorexistingoffer', request: @request, offer: @my_offer %>
      <% elsif policy(Offer.new(request: @request)).new?%>
        <%= render 'offers/form', request: @request, offer: @offer, locals: { custom_class: "new-offer" } %>
      <% end %>
    </div>
  </div>
</div>
