<div class="container-fluid">
  <h2>Request</h2>
  Title: <%= @request.title %><br>
  Category: <%= @request.category %><br>
  Quantity Needed: <%= @request.quantity_needed %><br>
  Quantity Remaining: <%= @request.quantity_remaining %><br>
  Condition: <%= @request.condition %><br>
  Description: <%= @request.description %><br>
  Region: <%= @request.charity.region %><br>
  Prefecture: <%= @request.charity.prefecture %><br>
  Status: <%= @request.status %><br>
</div>
<!--Links-->
<%= link_to "Back to Requests", requests_path %><br>
<%= link_to "View Offers", request_offers_path(@request) %><br>
<% if policy(@request).edit? %>
  <%= link_to "Edit Request", edit_request_path(@request) %>
<% end %>
<% if policy(Offer.new(request: @request)).new? %>
  <%= link_to "Make an Offer", new_request_offer_path(@request) %>
<% end %><br>
<!--Offers-->
<div class="container-fluid">
  <% @request.offers.each do |offer| %>
    <h4>Offer from: <%= offer.donor.display_name %></h4>
    Condition: <%= offer.condition %><br>
    Can be sent: <%= offer.can_ship_by %><br>
    Message: <%= offer.message %><br>
    Quantity Offered: <%= offer.quantity_offered %><br>
    Status: <%= offer.status %><br>
    Tracking Number: <%= offer.tracking_number %><br>
  <% end %>
</div>
