<div class="container mt-5 mb-4">
  <h3><%= t("messages.welcome_back") %>, <%= current_user.email.gsub(/@.*$/, "").capitalize %><%="様" if I18n.locale == :ja %>!</h3>
  <h3> <%= t("messages.your_requests") %>: </h3>
</div>
<div class="container mb-5">
  <div class="row justify-content-center gap-3">
    <% @requests.each do |request| %>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="request-card card h-100">
          <div class="request-card-infos">
            <div class="row mb-2">
              <div class="col-8">
                <h4><strong><%= request.title %></strong></h4>
              </div>
              <div class="col-4 text-center">
                <h4 class="mb-0"> x<%= request.quantity_remaining %> </h4>
                <div class="badge rounded-pill pill-<%= request.urgency %>"> <%= t("urgencies.#{request.urgency}") %> </div>
              </div>
            </div>
            <%# Let's add the category tag so users can see it! %>
            <span class="badge text-bg-secondary mb-2"><%= t("categories.#{request.category}") %></span>
            <br>
            <i class="fa-solid fa-box-open"></i>
            <% request.acceptable_conditions.each do |condition| %>
              <span class="badge text-bg-info mb-2">
                <%= t("conditions.#{condition}") %>
              </span>
            <% end %>
            <br>
            <span>
              <i class="fa-solid fa-location-dot mb-2"></i>
              <strong> <%= t("navigation.prefecture")%>: </strong>
              <%= t("prefectures.#{request.charity.prefecture}") %>
            </span>
            <br>
          </div>
          <%= link_to t("buttons.view_request"), request_path(request), class: "btn btn-secondary mt-auto", data: { turbo_frame: "_top" } %>
        </div>
      </div>
    <% end %>
  </div>
  <% if policy(Request).new? %>
    <%= link_to new_request_path, class: "btn-kifor-fab" do %>
      <i class="fa-solid fa-plus"></i>
    <% end %>
  <% end %>
</div>
